:root {
    /*cores do body*/

    /*modo claro*/
    --fundo-claro: #f0f2f5;
    /*modo escuro*/
    --fundo-escuro: #18191a;

    /*cores da botão tema*/

    /*modo claro*/
    --texto-modo-claro: #050505;
    --borda-modo-claro: #007bff;
    --fundo-botao-claro: #ffffff;
    --efeito-do-botao-tema-modo-claro: 0 0 15px #050505;
    /*modo escuro*/
    --texto-modo-escuro: #e4e6eb;
    --borda-modo-escuro: #2d88ff;
    --fundo-botao-escuro: #242526 ;
    --efeito-do-botao-tema-modo-escuro: 0 0 15px #e4e6eb;

    /*cores da caixa do usuário*/

    /*modo claro*/
    --fundo-da-caixa-modo-claro: #ffffff;
    --borda-caixa-modo-claro: #007bff;
    --placeholder-da-caixa-modo-claro: #050505;
    --texto-da-caixa-modo-claro: #050505;
    --efeito-da-caixa-modo-claro: 0 0 15px #050505;
    /*modo escuro*/
    --borda-caixa-modo-escuro: #2d88ff;
    --fundo-da-caixa-modo-escuro: #242526;
    --texto-da-caixa-modo-escuro: #e4e6eb;
    --placeholder-da-caixa-modo-escuro: #e4e6eb;
    --efeito-da-caixa-modo-escuro: 0 0 15px #e4e6eb;

    /*cores do botão "salvar usuário*/

    /*modo claro*/
    --borda-do-botao-salvar-usuario-modo-claro: #007bff;
    --fundo-do-botao-salvar-usuario-modo-claro: #ffffff;
    --texto-do-botão-salvar-modo-claro: #050505;
    --efeito-do-botao-salvar-modo-claro: 0 0 15px #050505;
    /*modo escuro*/
    --borda-do-botao-salvar-usuario-modo-escuro: #2d88ff;
    --fundo-do-botao-salvar-usuario-modo-escuro: #242526;
    --texto-do-botão-salvar-modo-escuro: #e4e6eb;
    --efeito-do-botao-salvar-modo-escuro: 0 0 15px #e4e6eb;

    /*cores do titulo*/

    /*modo claro*/
    --texto-titulo-modo-claro: #242526;
    --efeito-titulo-modo-claro: 0 0 15px #050505;
    /*modo escuro*/
    --texto-titulo-modo-escuro: #e4e6eb;
    --efeito-titulo-modo-escuro: 0 0 15px #e4e6eb;
    
    /*cor do mouse*/
    --cor-do-cursor-modo-escuro: #e4e6eb;

}
#titulo_usuario {
    font-size: 4rem;
    margin-bottom: 70px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--texto-titulo-modo-claro);
    transition: background-color 1.5s ease;
    text-shadow: var(--efeito-titulo-modo-claro);
    letter-spacing: 5px;
}
body.escuro #titulo_usuario {
    color: var(--texto-titulo-modo-escuro);
    text-shadow: var(--efeito-titulo-modo-escuro);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--fundo-claro);
    transition: background-color 1.5s ease;
}
#botao-tema {
    border-radius: 8px;
    backface-visibility: hidden;
    will-change: transform;
    transition: all 1.5s ease;
    border-color: var(--borda-modo-claro);
    background-color: var(--fundo-botao-claro);
    color: var(--texto-modo-claro);
    box-shadow: var(--efeito-do-botao-tema-modo-claro);
}
#botao-tema:hover {
    transform: scale(1.1);
    font-weight: bold;
}
body.escuro {
    background-color: var(--fundo-escuro);
}
body.escuro #botao-tema {
    background-color: var(--fundo-botao-escuro);
    color: var(--texto-modo-escuro);
    border-color: var(--borda-modo-escuro);
    box-shadow: var(--efeito-do-botao-tema-modo-escuro);
}
#user {
    width: auto;
    padding: 15px;
    margin-top: 150px;
    border-radius: 8px;
    border-color: var(--borda-caixa-modo-claro);
    background-color: var(--fundo-da-caixa-modo-claro);
    transition: background-color 1.5s ease;
    outline: none;
    box-shadow: var(--efeito-da-caixa-modo-claro);
}
body.escuro #user {
    border-color: var(--borda-caixa-modo-escuro);
    background-color: var(--fundo-da-caixa-modo-escuro);
    box-shadow: var(--efeito-da-caixa-modo-escuro);
    caret-color: var(--cor-do-cursor-modo-escuro);
    color: var(--texto-da-caixa-modo-escuro)
}
::placeholder {
    transition: background-color 1.5s ease;
    font-size: 15px;
    text-align: center;
    color: var(--placeholder-da-caixa-modo-claro)
}
body.escuro ::placeholder {
    color: var(--placeholder-da-caixa-modo-escuro);
}
#botao-salvar-usuario {
    border-radius: 8px;
    margin-top: 30px;
    backface-visibility: hidden;
    will-change: transform;
    transition: all 1.5s ease;
    border-color: var(--borda-do-botao-salvar-usuario-modo-claro);
    background-color: var(--fundo-do-botao-salvar-usuario-modo-claro);
    color: var(--texto-do-botão-salvar-modo-claro);
    box-shadow: var(--efeito-do-botao-salvar-modo-claro);
}
body.escuro #botao-salvar-usuario {
    border-color: var(--borda-do-botao-salvar-usuario-modo-escuro);
    background-color: var(--fundo-do-botao-salvar-usuario-modo-escuro);
    color: var(--texto-do-botão-salvar-modo-escuro);
    box-shadow: var(--efeito-do-botao-salvar-modo-escuro);
}
#botao-salvar-usuario:hover {
    transform: scale(1.1);
    font-weight: bold;
}