figure{
    margin: auto;
}
#img_topo{
    align-items: center;
    display: flex;
    width: 100vw;
}
#margin_nav{
  align-items: center;
  display: flex;
}
.lista_horizontal {
    margin: 0 auto;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
li{
    margin-right: 15px;  
}
#img_esportes{
    align-items: center;
    display: flex; 
    width: 100vw;
}
h1{
    text-align: center;
}
.horarios{
    text-align: center;
}
footer{
    text-align: center;
}